*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 80%;
    padding: 34px;
    margin:auto;
}
.container h2 {
    text-align: center;
    font-size: 35px;

}
.container p {
    text-align: center;
    font-size: 17px;
    font-style: italic;

}
input,textarea{
    border: 2px solid black;
    border-radius: 8px;
    outline: none;
    width: 80%;
    padding: 7px;
    margin: 8px auto;
    font-size: 15px;

}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    color: white;
    background-color: purple;
    padding: 8px,12px;
    font-size: 19px;
    border: 2px solid white;
    border-radius: 7px;
}
.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
}
.sumbmitmessg{
    font-size: 25px;
    color: navy;
}